name: Checks
run-name: Checks, branch:${{ github.ref_name }}, triggered by @${{ github.actor }}

concurrency:
  # Run only for most recent commit in PRs but for all tags and commits on main
  # Ref: https://docs.github.com/en/actions/using-jobs/using-concurrency
  group: ${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - '**'
  push:
    branches:
      - 'main'
      - 'release/[0-9]+.[0-9]+.x'
    tags:
      - '**'
  workflow_dispatch: {}

jobs:
  up-to-date:
    runs-on: ubuntu-latest
    outputs:
      status: ${{ steps.up-to-date.outputs.status }}
    steps:
      - name: checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          fetch-depth: 0
      - name: Check if PR is up to date, if it is skip workflows for this ref
        id: 'up-to-date'
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/heads/')
        uses: Kong/public-shared-actions/pr-previews/up-to-date@0ccacffed804d85da3f938a1b78c12831935f992 # v2.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

  # This job is used to check if the secrets are available. If they are not, we'll skip jobs that require them.
  should-run-with-secrets:
    runs-on: ubuntu-latest
    needs:
    - up-to-date
    if: needs.up-to-date.outputs.status != 'true'
    outputs:
      result: ${{ steps.check.outputs.result }}
    steps:
      - name: Check if secrets are available
        id: check
        run: |
          if [ "${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}" == "" || ${{ secrets.DOCKERHUB_PULL_TOKEN }}" == "" || ${{ secrets.DOCKERHUB_PULL_USERNAME }}" == "" ]; then
            echo "result=false" >> $GITHUB_OUTPUT
          else
            echo "result=true" >> $GITHUB_OUTPUT
          fi

  codegen:
    runs-on: ubuntu-latest
    needs:
    - up-to-date
    if: needs.up-to-date.outputs.status != 'true'
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5
      - run: make update-codegen verify-codegen

  enterprise-integration-tests:
    needs:
    - should-run-with-secrets
    - up-to-date
    if: needs.should-run-with-secrets.outputs.result == 'true' && needs.up-to-date.outputs.status != 'true'
    uses: ./.github/workflows/integration-enterprise.yaml
    secrets: inherit

  integration-tests:
    needs:
    - up-to-date
    if: needs.up-to-date.outputs.status != 'true'
    uses: ./.github/workflows/integration.yaml
    secrets: inherit

  # We need this step to fail the workflow if any of the previous steps failed or were cancelled.
  # It allows to use this particular job as a required check for PRs.
  # Ref: https://github.com/orgs/community/discussions/26822#discussioncomment-3305794
  passed:
    runs-on: ubuntu-latest
    needs:
      - up-to-date
      - codegen
      - integration-tests
      - enterprise-integration-tests
    if: always()
    steps:
      - if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: |
          echo "Some jobs failed or were cancelled."
          exit 1
