name: Enterprise Integration Test
run-name: Enterprise Integration Test, branch:${{ github.ref_name }}, triggered by @${{ github.actor }}

concurrency:
  # Run only for most recent commit in PRs but for all tags and commits on main
  # Ref: https://docs.github.com/en/actions/using-jobs/using-concurrency
  group: integration-enterprise-${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read

on:
  workflow_call:

jobs:
  integration:
    strategy:
      matrix:
        kong_image:
        - 'kong/kong-gateway:2.8'
        - 'kong/kong-gateway:3.4'
        - 'kong/kong-gateway:3.5'
        - 'kong/kong-gateway:3.6'
        - 'kong/kong-gateway:3.7'
        - 'kong/kong-gateway:3.8'
        - 'kong/kong-gateway:3.9'
        - 'kong/kong-gateway:3.10'
        - 'kong/kong-gateway:3.11'
        - 'kong/kong-gateway-dev:latest'
    env:
      KONG_ANONYMOUS_REPORTS: "off"
      KONG_IMAGE: ${{ matrix.kong_image }}

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5
      - name: Login to Docker Hub
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          username: ${{secrets.DOCKER_ORG_NAME}}
          password: ${{secrets.DOCKER_ORG_TOKEN}}
      - uses: Kong/kong-license@c4decf08584f84ff8fe8e7cd3c463e0192f6111b
        id: license
        with:
          op-token: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
      - name: Setup Kong
        env:
          KONG_LICENSE_DATA: ${{ steps.license.outputs.license }}
        run: make setup-kong-ee
      - name: Run integration tests
        env:
          KONG_LICENSE_DATA: ${{ steps.license.outputs.license }}
        run: make test-integration
        continue-on-error: ${{ matrix.kong_image == 'kong/kong-gateway-dev:latest' }}
