name: Integration Test
run-name: Integration Test, branch:${{ github.ref_name }}, triggered by @${{ github.actor }}

concurrency:
  # Run only for most recent commit in PRs but for all tags and commits on main
  # Ref: https://docs.github.com/en/actions/using-jobs/using-concurrency
  group: integration-${{ github.workflow }}-${{ github.head_ref || github.sha }}
  cancel-in-progress: true

permissions:
  contents: read

on:
  workflow_call:

jobs:
  integration:
    strategy:
      matrix:
        kong_image:
        - 'kong:2.8'
        - 'kong:3.4'
        - 'kong:3.5'
        - 'kong:3.6'
        - 'kong:3.7'
        - 'kong:3.8'
        - 'kong:3.9'
        - 'kong:3.10'
        - 'kong/kong:master'
    env:
      KONG_ANONYMOUS_REPORTS: "off"
      KONG_IMAGE: ${{ matrix.kong_image }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: actions/setup-go@0aaccfd150d50ccaeb58ebd88d36e91967a5f35b # v5
      - name: Setup Kong
        run: make setup-kong
      - name: Run integration tests
        run: make test-integration
        continue-on-error: ${{ matrix.kong_image == 'kong/kong:master' }}
